.henny-penny-regular {
    font-family: "Henny Penny", serif;
    font-weight: 400;
    font-style: normal;
}

h1{
    font-family: "Henny Penny", serif;
    
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color:rgb(0, 38, 255);
}
.tabuleiro {
    display: grid;
    height: 500px;
    width: 500px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 1px solid black;
    gap: 1px;
    padding: 2px;
    background-color: rgb(0, 38, 255);
  }

.celula {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3rem;
  border: 1px solid black;
  background: rgb(224, 254, 255);
  cursor: pointer;
}
.celula:hover {
  background: rgb(182, 243, 245); 
}

#start{
  font-size: 1.2em;
  width: 150px;
  padding: 1em;
  background-color: rgb(224, 254, 255);
  
}
#start:hover {
  background-color: rgb(151, 235, 238);
  border: 2px solid rgb(0, 38, 255);
  border-radius: 25px;
  transition: all .3s ease-in-out ;
}